.Title{

    font-family: "Montserrat";
font-size: 79px;
font-weight: bold;
font-style: normal;
color: #8b48e5;
}
#article-subject{
    border-radius: 47px;

filter: drop-shadow(0px 6px 5px rgba(0,0,0,0.16 ));

background: #8b48e5;
padding: 10%;
}
#Article-Title{
    font-family: "Montserrat";
font-size: 38px;
font-weight: normal;
font-style: normal;
text-align: center;
color: #edfcd5;
}
#Article-content{
    font-family: "TrolaW03-LightItalic";
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    color: #ffffff;
}
#MoreArticle{
    padding-left: 5%;
}
.card{
    border-radius: 47px!important;

filter: drop-shadow(0px 6px 5px rgba(0,0,0,0.16 ))!important;

background: #ede0ff!important;
padding: 5%;
}
.card-img-top-Article{
    max-width: 80%;
    margin-left: 34%;
}
.card-body h5{
    font-family: "Montserrat";
font-size: 38px;
font-weight: normal;
font-style: normal;
text-align: center;
color: #8b48e5;
}
.card-body a{
    color: #8b48e5;
    text-decoration: none;
}
