#container{
    border-radius: 31px;
    filter: drop-shadow(0px 6px 3px rgba(0,0,0,0.16 ));
    background: #8b48e5;
    padding: 5%;
}
.icon{
    color: #8b48e5;
    border-radius: 100px;
    height: 30px;
        width: 19%;
   
    margin-bottom: 5%;
    position: absolute;
    margin-left: 3%;
}
.card{
    background-color: #ffecc8!important;
    border-radius: 20px!important;
}
#imgContainer{
    z-index: 45;
    transform: translateY(55px);
}
#btndiv{

    display: flex;
    justify-content: end;
    align-items: end;
}
@media only screen and (max-width: 767px) {
 
#imgContainer{
    display: flex;
    justify-content: center;
}
.col-md-3,.col-md-2,.col-md-4{
    display: flex;
    justify-content: center!important;    
    margin-top: 10%!important;
}
.img-fluid {
  max-width: 30%!important;  
}
#img{
    
    position: relative!important;
}

  }
  #img{
    position: absolute;
    margin-left: -10%;  }
    #titlediv{
       
        padding-left: 15%;
       
    }
    #title{
        color: #8b48e5;
        font-size: 5rem;
    }